<!DOCTYPE html>
<html>
<head>
	<title>Twitter</title>
</head>
<body>
	<h1>Welcome to Twitter!</h1>
	<img src="/tweet.png" alt="tweet"> <br />
	<a href="/signup">Sign Up</a> <br />
	<a href="/login">Login</a>
</body>
</html>