<!DOCTYPE html>
<html>
<head>
	<title>Twitter Sign Up</title>
</head>
<body>

	<% if (message){ %>
		<div><%= message %></div>
	<% } %>
	
	<form action="/users" method="post">
		<legend>Sign Up</legend>
		<label>Username </label><input name="username" placeholder="Username"><br />
		<label>Name </label><input name="name" placeholder="Name"><br />
		<label>Email </label><input name="email" placeholder="Email"><br />
		<label>Password </label><input name="password" type="password" placeholder="Password"><br />
		<label>Confirm Password </label><input name="confirm_password" type="password" placeholder="Confirm Password"><br />
		<label>Bio</label><input name="bio" placeholder="Bio"><br />
		<input type="Submit" value="Sign Up">
	</form>
	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go to <a href="/">home</a></p>
</body>
</html>